* text=auto !eol
hst/src/main/java/org/onehippo/forge/oaipmh/provider/api/Identify.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/AggregationlevelType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/AnnotationType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/CatalogentryType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/CentityType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/ClassificationType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/ContextType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/ContributeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/CopyrightandotherrestrictionsType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/CostType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/CoverageType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/DateType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/DescriptionType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/DifficultyType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/DurationType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/EducationalType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/EntryType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/GeneralType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/InstallationremarksType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/IntendedenduserroleType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/InteractivitylevelType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/InteractivitytypeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/KeywordType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/KindType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/LangstringType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/LearningresourcetypeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/LifecycleType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/LocationType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/LomType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/MetametadataType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/NLLom.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/NameType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/ObjectFactory.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/OtherplatformrequirementsType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/PersonType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/PurposeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/RelationType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/RequirementType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/ResourceType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/RightsType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/RoleType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/SemanticdensityType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/SourceType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/StatusType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/StringType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/StructureType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TaxonType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TaxonpathType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TechnicalType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TitleType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TypeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TypicalagerangeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/TypicallearningtimeType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/ValueType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/VersionType.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/msmd_v1p2p4.xsd -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/model/oai/edurep/lom/package-info.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/provider/JaxbContextProvider.java -text
hst/src/main/java/org/onehippo/forge/oaipmh/provider/resource/OAIPMHResource.java -text
hst/src/main/resources/org/onehippo/forge/oaipmh/provider/resource/oai-pmh.xml -text
repository/pom.xml -text
repository/src/main/java/org/onehippo/forge/oaipmh/repository/deriveddata/OAIPMHDateFunction.java -text
repository/src/main/resources/deriveddata.xml -text
repository/src/main/resources/hide-oai-namespace.xml -text
repository/src/main/resources/hippoecm-extension.xml -text
repository/src/main/resources/oai-pmh-example-directory.xml -text
repository/src/main/resources/oai-pmh.xml -text
repository/src/main/resources/oai.cnd -text
repository/src/main/resources/pmh-example-mount.xml -text
